<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yiyuanliu.hepan">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.Translucent" />
        <activity
            android:name=".activity.PostListActivity"
            android:label="@string/title_activity_post_list"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoBar" />
        <activity
            android:name=".activity.BoardListActivity"
            android:label="@string/title_activity_board_list"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.BoardActivity"
            android:label="@string/title_activity_board"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoBar" />
        <activity
            android:name=".activity.FragmentActivity"
            android:label="@string/title_activity_fragment"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.UserListActivity"
            android:label="好友列表"
            android:parentActivityName=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.NewTopicActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoBar" />
        <activity
            android:name=".activity.BigImageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoBar" />
        <activity
            android:name=".activity.UserInfoActivity"
            android:theme="@style/AppTheme.NoBar" />
        <activity
            android:name=".activity.MessageActivity"
            android:label="@string/activity_message"
            android:theme="@style/AppTheme.NoBar" />
        <activity
            android:name=".activity.PmMessageActivity"
            android:theme="@style/AppTheme.NoBar" />
        <activity
            android:name=".activity.SettingActivity"
            android:label="@string/title_activity_setting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name=".TestActivity" />

        <service
            android:name=".notify.HeartService"/>
    </application>

</manifest>